html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", system-ui;
    background-color: #ececec;
    padding: 0 20px;
    margin: 0;
}

.wrapper {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
}

.info{
    display: grid;
    grid-template-columns: 8fr 5fr ;
    margin: 20px 0;
}

.info_bigTitle{
    display: grid;
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
}

.info_right{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

.info_right_title{
    display: grid;
    background-color: #dcdcdc;
    font-family: sans-serif, serif;
    width: max-content;
    align-self: center;
    justify-items: center;
    padding: 0 10px;
    line-height:30px;
    font-size: 16px;
    border-radius: 2px;
}

#BULLET_CHART{
    display: grid;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    height: calc(100vh - 80px - 100px);
}

.barcharts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.main_right {
    display: grid;
    grid-template-rows: 5fr 7fr;
    grid-row-gap: 20px;
}


#SELECTED_PRODUCTS {
    display: grid;
}

#SELECTED_USERS {
    display: grid;
}

#SELECTED_YEARS {
    display: grid;
    justify-self: end;
    min-width: 50px;
    margin-top: -30px;
}

#BARS {
    display: grid;
}

#BARS_GROUPED {
    display: grid;
}

#HORIZONTAL_BARS {
    display: grid;
}

#WORDCLOUD {
    display: grid;
    align-self: start;
    justify-self: center;
}


text.legendtitletext {
    font-weight: bold;
}
