html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", system-ui;
    background-color: #ececec;
    padding: 0 20px;
    margin: 0;
}

.wrapper {
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    margin-bottom: 20px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    height: calc(100vh - 80px - 30px);
}

.barcharts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.main_right {
    display: grid;
    grid-template-rows: 5fr 7fr;
    grid-row-gap: 20px;
}


#SELECTED_PRODUCTS {
    display: grid;
    margin: -10px;
}

#SELECTED_USERS {
    display: grid;
}

#SELECTED_YEARS {
    display: grid;
    justify-self: end;
    min-width: 50px;
}

#HORIZONTAL_BARS {
    display: grid;
}

#WORDCLOUD {
    display: grid;
    align-self: start;
    justify-self: center;
}


text.legendtitletext {
    font-weight: bold;
}

/*.cartesianlayer{*/
/*    font-weight: bold;*/
/*    font-family: "Times New Roman", system-ui;*/
/*}*/

