html{
    margin: 0;
    padding: 0;
    height: 80vh;
}

body {
    font-family: "Times New Roman";
    background-color: #D6D8D8;
    padding: 0 20px;
}

.select_box {
    color: black !important;
    width: 268px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
}

.wrapper {
    display: grid;
 }

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#SELECTED_PRODUCTS {
     display: grid;
     width: 50%;
}

#SELECTED_USERS {
     display: grid;
     justify-self: end;
     width: 50%;
}

.main{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-column-gap: 10px;
}

.barcharts {
    display: grid;
    grid-row-gap: 10px;
}

.main_right{
    display: grid;
    grid-template-rows: 5fr 7fr;
    grid-row-gap: 10px;
}

#HORIZONTAL_BARS {
    display: grid;
}
#WORDCLOUD {
    display: grid;
    width: 100%;
}



.Select-placeholder{
    color: black;
}
.Select--multi .Select-value{
    border:1px solid rgba(0,0,0,.24);;
}

.Select-value-label, .Select-value-icon {
    background-color: white; !important;
    color: black;

}

.Select--multi .Select-value-icon {
    border-right: 1px solid rgba(0,0,0,.24);
}
